.header__link:hover {
  opacity: .2;
  transition: transform 4s ease-in;
}

.khan__buy-link:hover {
  opacity: .2;
  transition: transform 4s ease-in;
}

.feynman__link:hover {
  opacity: .2;
  transition: transform 4s ease-in;
}

.resources__link:hover {
  opacity: .2;
  transition: transform 4s ease-in;
}

.footer__column-link:hover {
  opacity: .2;
  transition: transform 4s ease-in;
}
